.flex_col {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.formContainer {
    row-gap: var(--spacing-l);
    max-width: 300px;
}

.gap_20 {
    gap: var(--spacing-l);
    max-width: 300px;
}

.gap_10 {
    gap: var(--spacing-m);
    max-width: 300px;
}

.gap_5 {
    gap: var(--spacing-s);
    max-width: 300px;
}