@import url("./../../../theme.css");

.button {
    transition: all 0.2s;
}

.background_red {
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 0.2rem solid var(--red);
    background: var(--red);
    color: white;
}

.background_red:hover {
    background: var(--red-dark);
    color: #fafafa;
    cursor: pointer;
}

.text_red {
    padding: 0;
    color: var(--red);
    background: none;
}

.text_red:hover {
    color: var(--red-dark);
    cursor: pointer;
}
