@import url(../../theme.css);

.input{
    font-family: Montserrat, sans-serif;
    font-size: var(--font-size-main-and-input-text);
    font-weight: 500;
    width: 100%
}

.input:focus{
    outline: 0;
    border: 0;
}

.amount_value{
    padding-bottom: 6px;
}

.container{
    display: flex;
    align-items: center;
}

.container > img{
    margin-right: var(--spacing-m);
}