@import url("./../../../theme.css");

.input {
    outline: none;
    border: .2rem solid var(--red);
    border-radius: .5rem;
    padding: .5rem;
    width: 100%;
}

.input:focus {
    border: .2rem solid var(--red-dark);
}