@import url("./../../../theme.css");

.input {
    outline: none;
    border: 0.2rem solid var(--red);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

.input:focus {
    border: 0.2rem solid var(--red-dark);
}
